.ordering-screen {
   margin-top: 100px;
   padding: 100px 25px;

   color: var(--color-white);
   background-color: var(--color-dark);
}

.ordering-screen-subtitle {
   font-size: var(--font-size-small);
}

.ordering-input {
   width: 380px;
   margin-right: 20px;
   padding: 30px 0 30px 60px;

   border-radius: var(--border-radius-small);
   background-color: var(--color-light-grey);
}

.ordering-form-order {
   justify-content: center;
   margin-top: 40px;
}

.ordering-button {
   width: 380px;
   padding: 27px 0;

   border: var(--border-width-default) solid transparent;
   border-radius: var(--border-radius-small);
   background-color: var(--color-yellow);
}