@media (max-width: 1180px) {
   .main-screen-image {
      display: none;
   }
   .main-screen {
      color: var(--color-black);
   }
}

@media (max-width: 620px) {
   .main-screen-title {
      font-size: 36px;
   }
   .main-screen-subtitle {
      font-size: 18px;
   }
}

@media (max-width: 560px) {
   .main-button {
      flex-direction: column;
      align-items: flex-start;
   }
   .main-screen-button-text {
      margin-top: 5px;
   }
}

@media (max-width: 490px) {
   .main-screen-title {
      font-size: 24px;
      margin-bottom: 10px;
   }
   .main-screen-subtitle {
      font-size: 12px;
   }

   .main-screen-button {
      padding: 15px 25px;
      font-size: 18px;
   }
}

@media (max-width: 340px) {
   .main-screen-title {
      font-size: 18px;
   }
   .main-screen-subtitle {
      font-size: 10px;
   }
   .main-screen-button {
      font-size: 14px;
   }
   .main-screen-button-text {
      font-size: 10px;
   }
}